
    <footer>
        <hr class="footer__hr">
        <p>By 3mpirical, Nicholas Ristagno 29 December 2018</p>
    </footer>
    <script type="text/javascript" src="./js/bundles/app.bundle.js"></script>
</html>
