<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css"  href="./css/main.css">
        <link href="https://fonts.googleapis.com/css?family=Major+Mono+Display|Roboto:300" rel="stylesheet">
        <title>Calendar App</title>
    </head>
    <body>
        <header>
            <h1 class="header__logo">Projectify</h1>

            <p class="header__arrow">---------------->></p>

            <div class="header__slogan">
                <p>plan  --------></p>
                <p>do  --------></p>
                <p>ship  --------> </p>
            </div>

            <div class="header__menu">
                <li class="header__menu-item">Forums</li>
                <li class="header__menu-item">Account</li>
                <li class="header__menu-item"><img src="./img/gear.svg" alt="gear-icon"></img></li>

            </div>


        </header>
