
$background-color-one: lighten(#455A64, 10%);
$background-color-two: #455A64;

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    font-family: "Open Sans", sans-serif;
}

body {
    box-sizing: border-box;
    background-color: #212121;
}

.u-absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.calendar {
    position: absolute;
    left: 5rem;
    width: 60rem;
    height: 65rem;
    margin: 10rem auto;
    padding: 2rem 1rem;
    background-color: #37474F;
    color: #CFD8DC;
    border-radius: 6px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);


    .calendar__heading-items {
        font-family: "Roboto", sans-serif;
        font-size: 3rem;
        letter-spacing: 4px;
        position: absolute;
        top: 1%;
        left: 3%;
    }

    .calendar__month-buttons {
        position: absolute;
        top: 2%;
        right: 4%;

        button {
            position: relative;
            width: 2.5rem;
            height: 2.5rem;
            background-color: #455A64;
            border-color: #CFD8DC;
            color: #CFD8DC;
            font-size: 2rem;
            font-family: "Open Sans", sans-serif;
            vertical-align: top;
            border-radius: 5px;
        }
    }

    .calendar__selected-items {
        position: absolute;
        bottom: 0.5%;
        left: 3%;
    };

    .calendar__dates-container{
        position: absolute;
        height: 90%;
        width: 95%;
        top: 52%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 8px;

        &::before {
            content: " ";
            background-color: #CFD8DC;
            border-radius: 8px;

            position: absolute;
            top: -0.1rem;
            left: 0rem;
            right: 0em;
            bottom: 0rem;
            }

        .calendar__days-header {
            display: flex;
            justify-content: space-evenly;
            height: 5%;
            width: 100%;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;

            .red {
                color: #CE93D8;
            }

            .day-of-week{
                display: flex;
                position: relative;
                height: 96%;
                width: calc(100%/7.1);
                font-size: 1.4rem;
                font-family: sans-serif;
                border-radius: 6px;
                background-color: #3F51B5;

                &:first-of-type {
                    border-top-left-radius: 8px;
                }
                &:last-of-type {
                    border-top-right-radius: 8px;
                }
            }
        };


        .calendar__dates-row {
            display: flex;
            justify-content: space-evenly;
            height: calc(95% / 6);
            width: 100%;

            .red {
                color: #CE93D8;
            }

            //first row
            &:first-child {
                // border-top-left-radius: 8px;
                // border-top-right-radius: 8px;

                .calendar__box {
                    &:first-of-type {
                        border-top-left-radius: 8px;
                    }
                    &:last-of-type{
                        border-top-right-radius: 8px;
                    }
                }
            }

            //last row
            &:last-child {
                // border-bottom-left-radius: 10px;
                // border-bottom-right-radius: 10px;

                .calendar__box {

                    &:first-of-type {
                        border-bottom-left-radius: 8px;

                        .calendar__box-content {
                            border-bottom-left-radius: 8px;
                        }
                    }

                    &:last-of-type {
                        border-bottom-right-radius: 8px;

                        .calendar__box-content {
                            border-bottom-right-radius: 8px;
                        }
                    }
                }
            }


            //boxes themselves
            .calendar__box {
                position: relative;
                display: inline-flex;
                height: 99%;
                width: calc(100%/7.1);
                background-color: #455A64;
                border-radius: 8px;

                .calendar__box-content {
                    height: 100%;
                    width: 100%;
                    border-radius: 8px;


                    .calendar__date {
                        font-size: 1.3rem;

                        position: absolute;
                        top: 12.5%;
                        left: 12.5%;
                        transform: translate(-50%, -50%);
                    }
                }

                .dark {
                    background-color: darken(#455A64, 8%);

                    &:hover {
                        background-color: #CE93D8;
                    }
                }

                .highlight {
                    background-color: #4DB6AC;
                }

                &:hover {
                    background-color: #CE93D8;
                }
            }

        }
    }
}
