
$background-color-one: #80DEEA;
$background-color-two: #BBDEFB;

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    background:
        linear-gradient(to right, $background-color-one, $background-color-two);
}



.calendar {
    position: relative;
    width: 60rem;
    height: 60rem;
    margin: 10rem auto;
    padding: 2rem 1rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);


    .calendar__heading-title {
        font-family: sans-serif;
        position: absolute;
        top: 2%;
        left: 3%;
    }




    .calendar__dates-container{
        position: absolute;
        height: 90%;
        width: 95%;
        top: 53%;
        left: 50%;
        transform: translate(-50%, -50%);

        .calendar__days-header {
            display: flex;
            height: 5%;
            width: 100%;
            background: linear-gradient(to right,#B9F6CA, #B2FF59);
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;

            .red {
                color: #B71C1C;
            }

            .day-of-week{
                position: relative;
                height: 100%;
                width: calc(100%/7);
                border-right: 1px solid black;
                border-top: 1px solid black;
                text-align: center;
                font-size: 1.4rem;

                &:first-of-type {
                    border-left: 1px solid black;
                    border-top-left-radius: 10px;
                }
                &:last-of-type {
                    border-top-right-radius: 10px;
                }
            }
        };


        .calendar__dates-row {
            display: flex;
            height: calc(95% / 6);
            width: 100%;
            background-color: lighten(#E0F7FA, 5%);

            .red {
                color: #B71C1C;
            }

            //first row
            &:first-child {
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;

                .calendar__box {
                    &:first-of-type {
                        border-top-left-radius: 10px;
                    }
                    &:last-of-type{
                        border-top-right-radius: 10px;
                    }
                }
            }

            //last row
            &:last-child {

                .calendar__box {
                    border-bottom: 1px solid black;

                    &:first-of-type {
                        border-bottom-left-radius: 10px;
                    }
                    &:last-of-type {
                        border-bottom-right-radius: 10px;
                    }
                }
            }


            //boxes themselves
            .calendar__box {
                position: relative;
                display: inline-flex;
                height: 100%;
                width: calc(100%/7);
                border-right: 1px solid black;
                border-top: 1px solid black;


                //first box in rows
                &:first-of-type {
                    border-left: 1px solid black;

                    .dark{
                        border-top-left-radius: 10px
                    }
                }

                //last box in rows
                &:last-of-type {
                    .dark {
                        border-bottom-right-radius: 10px;
                    }
                }

                &:hover {
                    background-color: #B2FF59;
                }

                .calendar__box-content {
                    height: 100%;
                    width: 100%;


                    .calendar__date {
                        font-size: 1.3rem;

                        position: absolute;
                        top: 12.5%;
                        left: 12.5%;
                        transform: translate(-50%, -50%);
                    }
                }

                .dark {
                    background-color: darken(#E0F7FA, 4%);
                }

            }

        }
    }
}
