*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
    font-size: 62.5%;
    font-family: "Roboto", sans-serif;
}

body {
    box-sizing: border-box;
    background-color: $background-color;
}

.app-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
}
