<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css"  href="./css/main.css">
        <title></title>
    </head>
    <body>
        <div class="calendar">
            <div class="calendar__heading"></div>



            <div class="calendar__dates-container">
                <div class="calendar__days-header">
                    <div class="day-of-week red">Sunday</div>
                    <div class="day-of-week">Monday</div>
                    <div class="day-of-week">Tuesday</div>
                    <div class="day-of-week">Wednesday</div>
                    <div class="day-of-week">Thursday</div>
                    <div class="day-of-week">Friday</div>
                    <div class="day-of-week red">Saturday</div>
                </div>

                <div class="calendar__dates-row">
                    <div class="calendar__box box-0 red"></div>
                    <div class="calendar__box box-1"></div>
                    <div class="calendar__box box-2"></div>
                    <div class="calendar__box box-3"></div>
                    <div class="calendar__box box-4"></div>
                    <div class="calendar__box box-5"></div>
                    <div class="calendar__box box-6 red"></div>
                </div>
                <div class="calendar__dates-row">
                    <div class="calendar__box box-7 red"></div>
                    <div class="calendar__box box-8"></div>
                    <div class="calendar__box box-9"></div>
                    <div class="calendar__box box-10"></div>
                    <div class="calendar__box box-11"></div>
                    <div class="calendar__box box-12"></div>
                    <div class="calendar__box box-13 red"></div>
                </div>
                <div class="calendar__dates-row">
                    <div class="calendar__box box-14 red"></div>
                    <div class="calendar__box box-15"></div>
                    <div class="calendar__box box-16"></div>
                    <div class="calendar__box box-17"></div>
                    <div class="calendar__box box-18"></div>
                    <div class="calendar__box box-19"></div>
                    <div class="calendar__box box-20 red"></div>
                </div>
                <div class="calendar__dates-row">
                    <div class="calendar__box box-21 red"></div>
                    <div class="calendar__box box-22"></div>
                    <div class="calendar__box box-23"></div>
                    <div class="calendar__box box-24"></div>
                    <div class="calendar__box box-25"></div>
                    <div class="calendar__box box-26"></div>
                    <div class="calendar__box box-27 red"></div>
                </div>
                <div class="calendar__dates-row">
                    <div class="calendar__box box-28 red"></div>
                    <div class="calendar__box box-29"></div>
                    <div class="calendar__box box-30"></div>
                    <div class="calendar__box box-31"></div>
                    <div class="calendar__box box-32"></div>
                    <div class="calendar__box box-33"></div>
                    <div class="calendar__box box-34 red"></div>
                </div>
                <div class="calendar__dates-row">
                    <div class="calendar__box box-35 red"></div>
                    <div class="calendar__box box-36"></div>
                    <div class="calendar__box box-37"></div>
                    <div class="calendar__box box-38"></div>
                    <div class="calendar__box box-39"></div>
                    <div class="calendar__box box-40"></div>
                    <div class="calendar__box box-41 red"></div>
                </div>


            </div>
        </div>
    </body>
    <script type="text/javascript" src="./js/bundles/app.bundle.js">

    </script>
</html>
