
{{> _header }}

        <div class="calendar">

            <div class="calendar__mobile-logo">
                <h1>P</h1>
                <p>---->></p>
            </div>

            <div class="calendar__heading">
            </div>

            <div class="calendar__month-buttons">
                <button type="button" class="previous-month"><div class="u-absolute-center"><</div></button>
                <button type="button" class="next-month" ><div class="u-absolute-center">></div></button>
            </div>

            <div class="calendar__mobile-menu-button">
                <img src="./img/gear.svg" alt="gear-icon"></img>
            </div>

            <div class="calendar__dates-container">
                <div class="calendar__days-header">
                    <div class="day-of-week red"><div class="u-absolute-center">Sunday</div></div>
                    <div class="day-of-week"><div class="u-absolute-center">Monday</div></div>
                    <div class="day-of-week"><div class="u-absolute-center">Tuesday</div></div>
                    <div class="day-of-week"><div class="u-absolute-center">Wednesday</div></div>
                    <div class="day-of-week"><div class="u-absolute-center">Thursday</div></div>
                    <div class="day-of-week"><div class="u-absolute-center">Friday</div></div>
                    <div class="day-of-week red"><div class="u-absolute-center">Saturday</div></div>
                </div>

                <div class="calendar__dates-row">
                    <div class="calendar__box red" index="0"></div>
                    <div class="calendar__box" index="1"></div>
                    <div class="calendar__box" index="2"></div>
                    <div class="calendar__box" index="3"></div>
                    <div class="calendar__box" index="4"></div>
                    <div class="calendar__box" index="5"></div>
                    <div class="calendar__box red" index="6"></div>
                </div>
                <div class="calendar__dates-row">
                    <div class="calendar__box red" index="7"></div>
                    <div class="calendar__box" index="8"></div>
                    <div class="calendar__box" index="9"></div>
                    <div class="calendar__box" index="10"></div>
                    <div class="calendar__box" index="11"></div>
                    <div class="calendar__box" index="12"></div>
                    <div class="calendar__box red" index="13"></div>
                </div>
                <div class="calendar__dates-row">
                    <div class="calendar__box red" index="14"></div>
                    <div class="calendar__box" index="15"></div>
                    <div class="calendar__box" index="16"></div>
                    <div class="calendar__box" index="17"></div>
                    <div class="calendar__box" index="18"></div>
                    <div class="calendar__box" index="19"></div>
                    <div class="calendar__box red" index="20"></div>
                </div>
                <div class="calendar__dates-row">
                    <div class="calendar__box red" index="21"></div>
                    <div class="calendar__box" index="22"></div>
                    <div class="calendar__box" index="23"></div>
                    <div class="calendar__box" index="24"></div>
                    <div class="calendar__box" index="25"></div>
                    <div class="calendar__box" index="26"></div>
                    <div class="calendar__box red" index="27"></div>
                </div>
                <div class="calendar__dates-row">
                    <div class="calendar__box red" index="28"></div>
                    <div class="calendar__box" index="29"></div>
                    <div class="calendar__box" index="30"></div>
                    <div class="calendar__box" index="31"></div>
                    <div class="calendar__box" index="32"></div>
                    <div class="calendar__box" index="33"></div>
                    <div class="calendar__box red" index="34"></div>
                </div>
                <div class="calendar__dates-row">
                    <div class="calendar__box red" index="35"></div>
                    <div class="calendar__box" index="36"></div>
                    <div class="calendar__box" index="37"></div>
                    <div class="calendar__box" index="38"></div>
                    <div class="calendar__box" index="39"></div>
                    <div class="calendar__box" index="40"></div>
                    <div class="calendar__box red" index="41"></div>
                </div>
            </div>

            <div class="calendar__selected">

            </div>

        </div>

        <div class="event-pane">
            <div class="event-pane__header">
                <p>Event Pane</p>
                <li>this pane will show daily events when a day is selected, and a week of events when selected.</li>
                <li>Week Selection Feature should be added. Consider adding a colored clearfix to the back of a calendar row. Otherwise, you can target the content-box of the indexes in that row. **make indexes a class attribute instead of their own attribute.</li>
                <li>The event pane should be able to perform rest and crud operations on events (when they actually exist)</li>
                <li>Make sure to store day vs week view in a state object, or at least store a week selection and use considitionals to check which should be displayed. </li>
            </div>
        </div>

{{> _footer }}
