
{{> _header }}
    <div class="app-container">
        <div class="calendar-clearfix">
        </div>

        <div class="calendar">
            <div class="calendar__mobile-logo">
                <h1>P</h1>
                <p>---->></p>
            </div>

            <div class="calendar__heading"></div>

            <div class="calendar__month-buttons">
                <button type="button" class="previous-month"><div class="u-absolute-center"><</div></button>
                <button type="button" class="next-month" ><div class="u-absolute-center">></div></button>
            </div>

            <div class="calendar__mobile-menu-button">
                <img src="./img/gear.svg" alt="gear-icon"></img>
            </div>

            <div class="calendar__dates-container">
                <div class="calendar__days-header">
                    <div class="day-of-week red"><div class="u-absolute-center">Sunday</div></div>
                    <div class="day-of-week"><div class="u-absolute-center">Monday</div></div>
                    <div class="day-of-week"><div class="u-absolute-center">Tuesday</div></div>
                    <div class="day-of-week"><div class="u-absolute-center">Wednesday</div></div>
                    <div class="day-of-week"><div class="u-absolute-center">Thursday</div></div>
                    <div class="day-of-week"><div class="u-absolute-center">Friday</div></div>
                    <div class="day-of-week red"><div class="u-absolute-center">Saturday</div></div>
                </div>

                <div class="calendar__dates-row">
                    <div class="calendar__box red"></div>
                    <div class="calendar__box"></div>
                    <div class="calendar__box"></div>
                    <div class="calendar__box"></div>
                    <div class="calendar__box"></div>
                    <div class="calendar__box"></div>
                    <div class="calendar__box red"></div>
                </div>
                <div class="calendar__dates-row">
                    <div class="calendar__box red" ></div>
                    <div class="calendar__box" ></div>
                    <div class="calendar__box" ></div>
                    <div class="calendar__box"></div>
                    <div class="calendar__box"></div>
                    <div class="calendar__box"></div>
                    <div class="calendar__box red"></div>
                </div>
                <div class="calendar__dates-row">
                    <div class="calendar__box red"></div>
                    <div class="calendar__box"></div>
                    <div class="calendar__box"></div>
                    <div class="calendar__box"></div>
                    <div class="calendar__box"></div>
                    <div class="calendar__box"></div>
                    <div class="calendar__box red"></div>
                </div>
                <div class="calendar__dates-row">
                    <div class="calendar__box red"></div>
                    <div class="calendar__box"></div>
                    <div class="calendar__box"></div>
                    <div class="calendar__box"></div>
                    <div class="calendar__box"></div>
                    <div class="calendar__box"></div>
                    <div class="calendar__box red"></div>
                </div>
                <div class="calendar__dates-row">
                    <div class="calendar__box red"></div>
                    <div class="calendar__box"></div>
                    <div class="calendar__box"></div>
                    <div class="calendar__box"></div>
                    <div class="calendar__box"></div>
                    <div class="calendar__box"></div>
                    <div class="calendar__box red"></div>
                </div>
                <div class="calendar__dates-row">
                    <div class="calendar__box red"></div>
                    <div class="calendar__box"></div>
                    <div class="calendar__box"></div>
                    <div class="calendar__box"></div>
                    <div class="calendar__box"></div>
                    <div class="calendar__box"></div>
                    <div class="calendar__box red"></div>
                </div>
            </div>

            <div class="calendar__selected">

            </div>
        </div>

        <div class="event-pane">
            <div class="event-pane__display">
                <h2><div class="event-pane__header"></div></h2>
                <form class="event-form">

                    <div class="event-form__labels">
                        <label for="event-type">
                            <div class="label-text">Type</div>
                        </label>
                        <label for="event-name">
                            <div class="label-text">*Name</div>
                        </label>
                        <label for="event-description">
                            <div class="label-text">Text</div>
                        </label>
                        <label for="event-date">
                            <div class="label-text">*Date</div>
                        </label>
                    </div>
                    <div class="event-form__inputs">
                        <select class="event-form__type" id="event-type" name="type">
                            <option value=""></option>
                            <option value="Miscellaneous">Miscellaneous</option>
                            <option value="Personal">Personal</option>
                            <option value="Business">Business</option>
                            <option value="Holiday">Holiday</option>
                        </select>

                        <input class="event-form__name" id="event-name" type="text" name="name" required>


                        <textarea class="event-form__description" id="event-description" name="description" rows="8" cols="80"></textarea>

                        <div class="event-form__date" id="event-date">
                            <input class="event-form__month" type="number" name="month" min="1" max="12" step="1" placeholder="month 1-12" required>
                            <input class="event-form__day" type="number" name="day" min="1" max="31" step="1" placeholder="day 1-31" required>
                            <input class="event-form__year" type="number" name="year" min="2018" max="2099" step="1" placeholder="year 2018-2099" required>
                            <input class="event-form__time" type="number" name="time" min="0" max="2359" step="1" placeholder="time 0-2359">
                        </div>

                    </div>


                    <button type="submit">Create</button>
                </form>

                <div class="event-index display-flex">

                </div>

            </div>

            <div class="event-controls">
                <div class="event-controls__size-toggle" >
                    <img src="./img/up-arrow.svg" alt="toggle arrow">
                </div>
                <div class="event-controls__new-event" >
                    <img src="./img/plus.svg" alt="plus sign for new event">
                </div>

            </div>

        </div>
    </div>
{{> _footer }}
