* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background: linear-gradient(to right, #80DEEA, #BBDEFB); }

.calendar {
  position: relative;
  width: 60rem;
  height: 60rem;
  margin: 10rem auto;
  padding: 2rem 1rem;
  background-color: white;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); }
  .calendar .calendar__heading-title {
    font-family: sans-serif;
    position: absolute;
    top: 2%;
    left: 3%; }
  .calendar .calendar__dates-container {
    position: absolute;
    height: 90%;
    width: 95%;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%); }
    .calendar .calendar__dates-container .calendar__days-header {
      display: flex;
      height: 5%;
      width: 100%;
      background: linear-gradient(to right, #B9F6CA, #B2FF59);
      border-top-left-radius: 10px;
      border-top-right-radius: 10px; }
      .calendar .calendar__dates-container .calendar__days-header .red {
        color: #B71C1C; }
      .calendar .calendar__dates-container .calendar__days-header .day-of-week {
        position: relative;
        height: 100%;
        width: calc(100%/7);
        border-right: 1px solid black;
        border-top: 1px solid black;
        text-align: center;
        font-size: 1.4rem; }
        .calendar .calendar__dates-container .calendar__days-header .day-of-week:first-of-type {
          border-left: 1px solid black;
          border-top-left-radius: 10px; }
        .calendar .calendar__dates-container .calendar__days-header .day-of-week:last-of-type {
          border-top-right-radius: 10px; }
    .calendar .calendar__dates-container .calendar__dates-row {
      display: flex;
      height: calc(95% / 6);
      width: 100%;
      background-color: #f6fdfe; }
      .calendar .calendar__dates-container .calendar__dates-row .red {
        color: #B71C1C; }
      .calendar .calendar__dates-container .calendar__dates-row:first-child {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px; }
        .calendar .calendar__dates-container .calendar__dates-row:first-child .calendar__box:first-of-type {
          border-top-left-radius: 10px; }
        .calendar .calendar__dates-container .calendar__dates-row:first-child .calendar__box:last-of-type {
          border-top-right-radius: 10px; }
      .calendar .calendar__dates-container .calendar__dates-row:last-child .calendar__box {
        border-bottom: 1px solid black; }
        .calendar .calendar__dates-container .calendar__dates-row:last-child .calendar__box:first-of-type {
          border-bottom-left-radius: 10px; }
        .calendar .calendar__dates-container .calendar__dates-row:last-child .calendar__box:last-of-type {
          border-bottom-right-radius: 10px; }
      .calendar .calendar__dates-container .calendar__dates-row .calendar__box {
        position: relative;
        display: inline-flex;
        height: 100%;
        width: calc(100%/7);
        border-right: 1px solid black;
        border-top: 1px solid black; }
        .calendar .calendar__dates-container .calendar__dates-row .calendar__box:first-of-type {
          border-left: 1px solid black; }
          .calendar .calendar__dates-container .calendar__dates-row .calendar__box:first-of-type .dark {
            border-top-left-radius: 10px; }
        .calendar .calendar__dates-container .calendar__dates-row .calendar__box:last-of-type .dark {
          border-bottom-right-radius: 10px; }
        .calendar .calendar__dates-container .calendar__dates-row .calendar__box:hover {
          background-color: #B2FF59; }
        .calendar .calendar__dates-container .calendar__dates-row .calendar__box .calendar__box-content {
          height: 100%;
          width: 100%; }
          .calendar .calendar__dates-container .calendar__dates-row .calendar__box .calendar__box-content .calendar__date {
            font-size: 1.3rem;
            position: absolute;
            top: 12.5%;
            left: 12.5%;
            transform: translate(-50%, -50%); }
        .calendar .calendar__dates-container .calendar__dates-row .calendar__box .dark {
          background-color: #cef2f7; }
