* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif; }

body {
  box-sizing: border-box;
  background-color: #212121; }

.u-absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.calendar {
  position: relative;
  width: 100vw;
  height: 105vw;
  background-color: #222c31;
  color: #CFD8DC; }
  .calendar .calendar__mobile-logo {
    position: absolute;
    width: 20rem;
    height: 10rem;
    top: 0;
    left: 0; }
    .calendar .calendar__mobile-logo h1 {
      position: absolute;
      top: 20%;
      left: 17%;
      font-family: "Major Mono Display";
      font-size: 4.5rem;
      color: #4DB6AC; }
    .calendar .calendar__mobile-logo p {
      position: absolute;
      top: 40%;
      left: 7%;
      font-family: "Roboto";
      font-size: 5rem;
      transition: 0.4s; }
  .calendar .calendar__heading-items {
    font-family: "Roboto", sans-serif;
    font-size: 4rem;
    letter-spacing: 4px;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .calendar .calendar__month-buttons {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 5.3%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 56rem;
    height: 10%; }
    .calendar .calendar__month-buttons button {
      position: relative;
      width: 9.5rem;
      height: 9.5rem;
      background-color: #3F51B5;
      color: #CFD8DC;
      border: none;
      border-radius: 100px;
      outline: 0;
      font-size: 7rem;
      font-family: "Roboto", sans-serif;
      cursor: pointer;
      touch-action: none; }
  .calendar .calendar__mobile-menu-button {
    position: absolute;
    top: 1.5%;
    right: 2%;
    border-radius: 100px;
    width: 7rem;
    height: 7rem;
    transition: 0.1s; }
    .calendar .calendar__mobile-menu-button img {
      position: absolute;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      width: 6rem;
      height: 6rem;
      touch-action: none; }
    .calendar .calendar__mobile-menu-button:hover {
      background-color: #4DB6AC;
      border: none;
      transform: scale(1.2, 1.2);
      cursor: pointer; }
  .calendar .calendar__selected-items {
    position: absolute;
    bottom: 0.5%;
    left: 3%; }
  .calendar .calendar__dates-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    height: 90%;
    width: 100%;
    bottom: 0;
    left: 0; }
    .calendar .calendar__dates-container::before {
      content: " ";
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      background-color: #CFD8DC; }
    .calendar .calendar__dates-container .calendar__days-header {
      display: flex;
      justify-content: space-evenly;
      height: 4.9%;
      width: 100%;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px; }
      .calendar .calendar__dates-container .calendar__days-header .red {
        color: #CE93D8; }
      .calendar .calendar__dates-container .calendar__days-header .day-of-week {
        display: flex;
        position: relative;
        height: 100%;
        width: calc(100%/7.1);
        font-size: 2.3vw;
        font-family: sans-serif;
        border-radius: 6px;
        background-color: #3F51B5; }
        .calendar .calendar__dates-container .calendar__days-header .day-of-week:first-of-type {
          border-top-left-radius: 8px; }
        .calendar .calendar__dates-container .calendar__days-header .day-of-week:last-of-type {
          border-top-right-radius: 8px; }
    .calendar .calendar__dates-container .calendar__dates-row {
      display: flex;
      justify-content: space-evenly;
      height: calc(95% / 6.1);
      width: 100%; }
      .calendar .calendar__dates-container .calendar__dates-row .red {
        color: #CE93D8; }
      .calendar .calendar__dates-container .calendar__dates-row:first-child .calendar__box:first-of-type {
        border-top-left-radius: 8px; }
      .calendar .calendar__dates-container .calendar__dates-row:first-child .calendar__box:last-of-type {
        border-top-right-radius: 8px; }
      .calendar .calendar__dates-container .calendar__dates-row:last-child .calendar__box:first-of-type {
        border-bottom-left-radius: 8px; }
        .calendar .calendar__dates-container .calendar__dates-row:last-child .calendar__box:first-of-type .calendar__box-content {
          border-bottom-left-radius: 8px; }
      .calendar .calendar__dates-container .calendar__dates-row:last-child .calendar__box:last-of-type {
        border-bottom-right-radius: 8px; }
        .calendar .calendar__dates-container .calendar__dates-row:last-child .calendar__box:last-of-type .calendar__box-content {
          border-bottom-right-radius: 8px; }
      .calendar .calendar__dates-container .calendar__dates-row .calendar__box {
        position: relative;
        display: inline-flex;
        height: 100%;
        width: calc(100%/7.1);
        background-color: #455A64;
        border-radius: 8px; }
        .calendar .calendar__dates-container .calendar__dates-row .calendar__box .calendar__box-content {
          height: 100%;
          width: 100%;
          border-radius: 8px;
          text-align: center; }
          .calendar .calendar__dates-container .calendar__dates-row .calendar__box .calendar__box-content .calendar__date {
            font-size: 2.3vw;
            position: absolute;
            top: 12.5%;
            left: 12.5%;
            transform: translate(-50%, -50%); }
          .calendar .calendar__dates-container .calendar__dates-row .calendar__box .calendar__box-content .event {
            display: inline-block;
            position: relative;
            top: 20%;
            width: 98%;
            height: 2rem;
            text-align: center;
            font-size: 1.8rem;
            color: #CFD8DC;
            background-color: #3F51B5;
            overflow: hidden;
            font-weight: bold;
            border-top: 1px solid rgba(207, 216, 220, 0.3);
            box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
            border-top-left-radius: 8px;
            border-top-right-radius: 8px; }
        .calendar .calendar__dates-container .calendar__dates-row .calendar__box .dark {
          background-color: #34444c; }
        .calendar .calendar__dates-container .calendar__dates-row .calendar__box .highlight {
          background-color: #4DB6AC; }

.event-pane {
  display: inline-block;
  vertical-align: top;
  position: relative;
  top: 0rem;
  left: 0rem;
  width: 100vw;
  height: 40vh;
  background-color: #37474F;
  color: #CFD8DC; }
  .event-pane .event-pane__header {
    position: absolute;
    width: 75%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3rem;
    font-family: "Roboto", sans-serif;
    background-color: rgba(0, 0, 0, 0.2); }
    .event-pane .event-pane__header p {
      text-align: center; }

header {
  display: none;
  color: #CFD8DC;
  position: relative; }
  header::before {
    content: " ";
    display: block;
    min-width: 430px;
    width: 100vw;
    height: 4vh;
    background-color: rgba(0, 0, 0, 0.3); }
  header .header__logo {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-family: "Major Mono Display";
    letter-spacing: 3px;
    color: #4DB6AC;
    z-index: 1;
    cursor: pointer;
    transition: 0.3s; }
    header .header__logo:hover {
      transform: scaleX(0.9) translateX(-1rem); }
      header .header__logo:hover + .header__arrow {
        transform: scaleX(1.1) translateX(1rem); }
  header .header__slogan {
    position: absolute;
    left: 1.3rem;
    top: 4.4rem;
    width: 30rem;
    height: 4rem; }
    header .header__slogan p:first-of-type {
      display: inline-block;
      position: absolute;
      font-family: "Roboto";
      font-size: 1.1rem;
      color: #4DB6AC; }
    header .header__slogan p:nth-of-type(2) {
      display: inline-block;
      position: absolute;
      left: 6.4rem;
      font-family: "Roboto";
      font-size: 1.1rem;
      color: #606fc7; }
    header .header__slogan p:last-of-type {
      display: inline-block;
      position: absolute;
      left: 12rem;
      font-family: "Roboto";
      font-size: 1.1rem;
      color: #CE93D8; }
  header .header__arrow {
    position: absolute;
    left: 1rem;
    top: 1.3rem;
    font-family: "Roboto";
    font-size: 4rem;
    transition: 0.3s; }
  header .header__menu {
    display: flex;
    justify-content: space-between;
    width: 23rem;
    position: absolute;
    top: 70%;
    right: 1%;
    transform: translateY(-50%); }
    header .header__menu .header__menu-item {
      position: relative;
      display: inline-flex;
      font-size: 1.5rem;
      font-family: "Major Mono Display";
      height: 2.5rem; }
      header .header__menu .header__menu-item:hover {
        color: #4DB6AC;
        border-bottom: 3px solid #8591d5;
        cursor: pointer; }
      header .header__menu .header__menu-item:last-of-type {
        top: -1.2rem;
        padding: 0;
        border-radius: 100px;
        width: 4rem;
        height: 4rem;
        transition: 0.1s; }
        header .header__menu .header__menu-item:last-of-type img {
          position: absolute;
          transform: translate(-50%, -50%);
          top: 50%;
          left: 50%;
          width: 3rem;
          height: 3rem;
          touch-action: none; }
        header .header__menu .header__menu-item:last-of-type:hover {
          background-color: #4DB6AC;
          border: none;
          transform: scale(1.2, 1.2);
          cursor: pointer; }

footer {
  display: none;
  color: #CFD8DC;
  margin: 2rem 0; }
  footer .footer__hr {
    width: 90vw;
    border: 0.5px solid rgba(207, 216, 220, 0.5);
    margin: 0 auto; }
  footer p {
    color: #CFD8DC;
    margin-top: 1rem;
    text-align: center; }
