.event-pane {
    flex: auto;
    position: relative;
    width: 100vw;
    height: 100%;
    background-color: darken($color-primary-dark, 10%);
    color: $color-off-white;
    overflow-y: scroll;

    .event-pane__display {
        position: relative;
        width: calc(100% * 10/11 );
        height: 100%;
        overflow-y: scroll;
        font-family: "Roboto", sans-serif;
        background-color: darken($color-primary-dark, 10%);

        h2 {
            position: relative;
            z-index: 100;
            height: 8rem;
            background-color: $color-indigo;
            text-align: center;
            font-size: 5rem;
            div {
                @include absolute-center;
                width: 100%;
            }
        }
    }

    .event-controls {
        position: absolute;
        top: 0;
        right: 0;
        background-color: $color-primary-dark;
        width: calc(100% * 1/11);
        height: 100%;
        touch-action: none;

        &__size-toggle {
            position: relative;
            height: calc(85vw / 9);
            cursor: pointer;

            img {
                @include absolute-center;
                height: 80%;
                width: 80%;
            }
        }

        &__new-event {
            position: relative;
            height: calc(85vw / 9);
            cursor: pointer;

            img {
                @include absolute-center;
                height: 80%;
                width: 80%;
            }
        }
    }
}

.event-form {
    display: none;
    position: relative;
    width: 100%;
    height: 60rem;
    justify-content: space-evenly;
    font-size: 3.5rem;


    .event-form__labels {
        background-color: darken($color-primary-dark, 10%);
        width: 100% * 1/6;
        position: relative;
        display: flex;
        flex-direction: column;

        label {
            position: relative;
            height: 8rem;
            text-align: center;
            border-bottom: 1px solid $color-off-white;

            .label-text {
                @include absolute-center;
            }

        }

        label[for="event-description"] {
            height: 20rem;
        }

    }

    .event-form__inputs {
        display: flex;
        flex-direction: column;
        width: calc(100% * 5/6);
        font-size: 3.5rem;
        color: $color-off-white;
        background-color: darken($color-primary-dark, 10%);
        border: none;
        box-shadow: none;
        outline: none;
        font-family: "Roboto";

        .event-form__type {
            height: 8rem;
            padding-left: 30px;
            background-color: inherit;
            color: inherit;
            font-size: inherit;
            font-family: inherit;
            border: none;
            border-bottom: 1px solid $color-off-white;
            box-shadow: none;
            outline: none;

        }
        .event-form__name {
            height: 8rem;
            background-color: inherit;
            color: inherit;
            font-size: inherit;
            font-family: inherit;
            padding-left: 30px;
            border: none;
            box-shadow: none;
            border-bottom: 1px solid $color-off-white;
            outline: none;

        }
        .event-form__description {
            height: 20rem;
            background-color: inherit;
            color: inherit;
            font-size: inherit;
            font-family: inherit;
            padding-left: 30px;
            padding-top: 15px;
            border: none;
            border-bottom: 1px solid $color-off-white;
            box-shadow: none;
            outline: none;

        }
        .event-form__date {
            display: flex;
            justify-content: space-between;
            height: 8rem;
            border: none;
            border-bottom: 1px solid $color-off-white;
            box-shadow: none;
            outline: none;

            input {
                background-color: inherit;
                font-family: inherit;
                color: inherit;
                height: 8rem;
                flex: auto;
                text-align: center;
                font-size: 2rem;
                border: none;
                box-shadow: none;
                outline: none;
            }
        }
    }

    button {
        position: absolute;
        font-family: "Roboto";
        height: 8rem;
        width: 100%;
        top: 44rem;
        left: 0;
        color: $color-off-white;
        background-color: $color-green;
        border: none;
        font-size: 5rem;
        font-weight: bold;
        touch-action: none;
        cursor: pointer;

        &:active {
            background-color: $color-indigo;
            color: $color-green;
        }
    }

}


.button-rotate-180 {
    transform: rotate(180deg);
}



.event-index {
    display: none;
    flex-direction: column;
    position: relative;
    width: 100%;
    overflow-y: scroll;

    &__event-container {
        position: relative;
        width: 100%;
        max-height: 10rem;
        background-color: $color-indigo; //darken($color-green, 5%);
        font-size: 4rem;
        border-top: 1px solid $color-off-white;
        box-shadow: 1px 1px 5px rgba(0,0,0, 0.8);
        margin-top: 2px;
        overflow: hidden;
        transition: 0.2s;
        transition-timing-function: ease-in-out;

        div {
            display: inline-block;
            font-weight: bold;
        }

        hr {
            position: absolute;
            top: 10rem;
            left: 0;
            width: 100%;
            border: 1px solid rgba($color-off-white, 0.5);
        }
    }

    .full-height {
        max-height: 60rem;
    }

    &__left {
        @include absolute-translated;
        top: 5rem;
        left: 15%;
        height: 10rem;
        width: 30%;
        background-color: $color-primary;
        border-right: 1px solid $color-off-white;
        padding-left: 30px;
        padding-top: 10px;
        text-align: left;
        font-size: 3.5rem;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }



    &__event-name {
        @include absolute-translated;
        top: 5rem;
        left: 65%;
        width: 50%;
        text-align: center;
    }


    &__description {
        display: block;
        margin-top: 14rem;
        position: relative;
        transform: translateX(-50%);
        left: 50%;
        font-size: 3.5rem;
    }

    &__bottom {
        display: block;
        width: 100%;
        margin-top: 4rem;
        padding-top: 10px;
        background-color: $color-primary-dark;

        &__edit {
            position: relative;
            left: 1%;
        }

        &__delete {
            position: relative;
            left: 84%;
        }
    }
}

.display-flex {
    display: flex;
}
