.event-pane {
    flex: auto;
    overflow: scroll;
    position: relative;
    width: 100vw;
    background-color: darken($color-primary-dark, 10%);
    color: $color-off-white;

    .event-pane__display {
        position: relative;
        width: calc(100% * 6/7 );
        height: 60rem;
        // overflow: scroll;
        font-family: "Roboto", sans-serif;
        background-color: darken($color-primary-dark, 10%);

        h2 {
            position: relative;
            height: 8rem;
            background-color: $color-indigo;
            text-align: center;
            font-size: 5rem;
            div {
                @include absolute-center;
            }
        }
    }

    .event-controls {
        position: absolute;
        top: 0;
        right: 0;
        background-color: $color-primary-dark;
        width: calc(100% / 7);
        // min-height: 60rem;
        height: 100%;
        touch-action: none;

        &__size-toggle {
            position: relative;
            height: calc(85vw / 6);
            cursor: pointer;

            img {
                @include absolute-center;
                height: 80%;
                width: 80%;
            }
        }

        &__new-event {
            position: relative;
            height: calc(85vw / 6);
            cursor: pointer;

            img {
                @include absolute-center;
                height: 80%;
                width: 80%;
            }
        }
    }
}

.event-form {
    display: none;
    position: relative;
    width: 100%;
    // display: flex;
    justify-content: space-evenly;
    font-size: 3.5rem;


    .event-form__labels {
        background-color: darken($color-primary-dark, 10%);
        width: 100% * 1/6;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        border-bottom: 1px solid $color-off-white;

        label {
            position: relative;
            height: 8rem;
            text-align: center;
            border-bottom: 1px solid $color-off-white;

            .label-text {
                @include absolute-center;
            }

        }

        label[for="event-description"] {
            height: 20rem;
        }

    }

    .event-form__inputs {
        display: flex;
        flex-direction: column;
        // justify-content: space-evenly;
        width: calc(100% * 5/6);
        font-size: 3.5rem;
        color: $color-off-white;
        background-color: darken($color-primary-dark, 10%);
        border: none;
        border-bottom: 1px solid $color-off-white;
        box-shadow: none;
        outline: none;
        font-family: "Roboto";

        .event-form__type {
            height: 8rem;
            padding-left: 30px;
            background-color: inherit;
            color: inherit;
            font-size: inherit;
            font-family: inherit;
            border: none;
            border-bottom: 1px solid $color-off-white;
            box-shadow: none;
            outline: none;

        }
        .event-form__name {
            height: 8rem;
            background-color: inherit;
            color: inherit;
            font-size: inherit;
            font-family: inherit;
            padding-left: 30px;
            border: none;
            box-shadow: none;
            border-bottom: 1px solid $color-off-white;
            outline: none;

        }
        .event-form__description {
            height: 20rem;
            background-color: inherit;
            color: inherit;
            font-size: inherit;
            font-family: inherit;
            padding-left: 30px;
            padding-top: 15px;
            border: none;
            border-bottom: 1px solid $color-off-white;
            box-shadow: none;
            outline: none;

        }
        .event-form__date {
            display: flex;
            justify-content: space-between;
            height: 8rem;
            border: none;
            border-bottom: 1px solid $color-off-white;
            box-shadow: none;
            outline: none;

            input {
                background-color: inherit;
                font-family: inherit;
                color: inherit;
                height: 8rem;
                flex: auto;
                text-align: center;
                font-size: 2rem;
                border: none;
                box-shadow: none;
                outline: none;
            }
        }
    }

    button {
        position: absolute;
        font-family: "Roboto";
        height: 8rem;
        width: 100%;
        top: 44rem;
        left: 0;
        color: $color-off-white;
        background-color: $color-green;
        border: none;
        font-size: 5rem;
        font-weight: bold;
        touch-action: none;
        cursor: pointer;
    }

}

.display-flex {
    display: flex;
}


.button-rotate-180 {
    transform: rotate(180deg);
}
// transform: translateY( calc( -1* (50vh - (100vh - 105vw))) );
